.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding: 45px 0 41px 0;
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: padding 0.3s ease, margin 0.3s ease;
  overflow: hidden;
}

@media screen and (max-width: 899px) {
  .header {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 334px) {
  .header {
    align-items: center;
    flex-wrap: nowrap;
    padding: 28px 28px 27px 27px;
    max-width: 320px;
  }
}
